<HTML>

<HEAD>
<%= header %>
    <TITLE>probablyGonna :: about us</TITLE>
  	<STYLE TYPE="text/css">
  		<!--
  		
  		// -->
  	</STYLE>
</HEAD>

<BODY>

<H1>About probablyGonna</H1>

 <P>
probablyGonna is Ben Turner's final project for the <A HREF="http://www.nyu.edu/">NYU</A>-<A HREF="http://itp.nyu.edu/">ITP</A> communications lab: web class with Liesje Hodjson, fall 2011.
 </P>

 <P>
pG was created because I was tired of reaching Sunday night and regretting that I didn't do fun things during the weekend.  I particularly regretted every Friday and Saturday night that my night ended early but I still wanted to go out and party, knowing it was too late because my friends would already be well under way and unreachable unless I just started calling everybody.
 </P>

 <P>
Foursquare didn't work for me because people would post after showing up, meaning they'd likely be gone after I arrived.  And it's useless for planning events in the near-term.
 </P>

 <P>
With this in mind, <A HREF="plan">start planning</A> an event!  Or <A HREF="/be">go find one</A>!
 </P>

<script type="text/javascript">

$(function() {
});

</script>

</BODY>

</HTML>