 <P>
PG was created because I was tired of reaching Sunday night and regretting that I didn't do fun things during the weekend.  I particularly regretted every Friday and Saturday night that my night ended early but I still wanted to go out and party, knowing it was too late because my friends would already be well under way and unreachable unless I just started calling everybody.
 </P>